<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.devposapp2">

    <uses-sdk

        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevPosApp2"
        android:name=".Zillion"
        tools:targetApi="honeycomb">
        <service
            android:name=".UpdateService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />


        <activity android:name=".PinCodeActivity" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".ui.reservations.ReservationDetails" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:noHistory="true"/>
        <activity android:name=".ui.orders.OrderDetails" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"
         />
        <activity
            android:name=".ResultActivity"
            android:parentActivityName=".MainActivity"
            android:taskAffinity=""
            android:excludeFromRecents="true"/>
        ...

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <meta-data android:name="com.onesignal.NotificationServiceExtension"
            android:value="com.company.NotificationServiceExtension" />


    </application>



</manifest>